@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;600;700;800;900&display=swap');
main {
	min-height: 80vh;
}
body {
	font-family: 'Prompt', sans-serif;
}
h3 {
	padding: 1rem 0;
}
.rating span {
	margin: 0.1rem;
}
